{% extends 'base.html.twig' %}

{% block adminPanel %}{% endblock %}
{% block body %}
    <style>
        .btn-product{
            width: 100%;
        }
    </style>
<div class="container" style="padding-bottom: 30px">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-9"></div>
        <div class="col-lg-3">
            {% for c in count %}
                {{ c.nm }} Result(s) found
            {% endfor %}
        </div>
    </div>
    <div class="row">
    {% for m in randonnes %}
            <div class="col-md-1" ></div>
            <div style="border: 1px solid #ccc; border-radius: 5px; margin-top: 30px; padding-bottom: 10px" class="col-md-3">
                <div class="thumbnail" >
                    <h4 class="text-center">
                        <span class="label label-info" ><span style="color: #3d8b3d">
                                <a href="https://www.google.com/maps?q={{ m.destination }}" target="_blank">
                                    <i class="fa fa-map-marker"></i>
                                </a>
                            </span> {{ m.destination}}</span>
                        {{ m.idrando}}

                    </h4>
                    <img src="{{ asset('uploads/' ~ m.imgurl1) }}" class="img-responsive">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-1"></div>
                                <h3>
                                    <label>Price</label>
                                    {{ m.prixPersonne}}
                                </h3>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-product" href="{{ path('randonne_show',{'idrando':m.idrando}) }}"><span class="glyphicon glyphicon-thumbs-up"></span> View & Enroll</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


    {% endfor %}
        </div>

    <div style="margin-left: 40%; margin-top: 20px">
        {{ knp_pagination_render(randonnes) }}

    </div>
    </div>

{% endblock %}

{% block javascript %}




{% endblock %}
