{% extends 'adminPanel.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Titillium+Web|Warnes" rel="stylesheet">

{% endblock %}

{% block Title %}
    Active Excursion
{% endblock %}

{% block stats %}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {% for n in newcount %}
                                {{ n.nm }}
                            {% endfor %}
                        </div>
                        <div>Active Excursions</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('randonne_active_admin') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-history fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {% for n in oldcount %}
                                {{ n.nm }}
                            {% endfor %}
                        </div>
                        <div>Excursion's archieve</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('randonne_old_admin') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {% for n in sumcount %}
                                {{ n.nm }}
                            {% endfor %}
                        </div>
                        <div>All excursions</div>
                    </div>
                </div>
            </div>
            <div style="cursor: pointer" class="panel-footer">
                <br>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plus-square fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><i class="fa fa-info"></i></div>
                        <div>Add new</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('randonne_new') }}">
                <div class="panel-footer">
                    <span class="pull-left">Add new</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
{% block body %}


    <div class="row" style="margin-top: 40px">
        <style>
            h4{
                color: #fff;
            }
        </style>
        <div class="col-lg-1"></div>
        <div class="col-lg-6" >
            <h1 style="margin-bottom: 40px">Available Excursions</h1>
            <table class="table">
                <thead class="thead-light">

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in randonne %}
                    <tr>
                        <th scope="row">{{ m.idrando }}</th>
                        <td>{{ m.destination }}</td>
                        <td>{{ m.capacite }}</td>
                        <td>{{ m.daterando }}</td>
                        <td>{{ m.prixpersonne }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('randonne_edit',{'idrando':m.idrando}) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ path('randonne_delete',{'idrando':m.idrando}) }}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="margin-left: 30%; margin-top: 120px">
        {{ knp_pagination_render(randonne) }}
        </div>
        <div class="col-lg-3" ></div>
    </div>

{% endblock %}
