{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="text-align: center; margin-top: 20px; margin-bottom: 40px">{{ randonne.destination }}</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="col">Capacite</th>
                            <td>{{ randonne.capacite }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Nombre de client</th>
                            <td>{{ randonne.nbreclient }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Date </th>
                            <td>{{ randonne.daterando }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Destination</th>
                            <td>{{ randonne.destination }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Price</th>
                            <td>{{ randonne.prixpersonne }} TND</td>
                        </tr>
                        <tr>
                            <th scope="col">Programme</th>
                            <td>{{ randonne.programme }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('randonne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('randonne_edit', { 'idrando': randonne.idrando }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

